/******************************************
*  Author : Jake   
*  Created On : Fri Oct 26 2018
*  File : _base.scss
*******************************************/


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.15%;
}

body {
    font-size: $base-font-size;
    font-family: helvetica, arial, sans-serif;
}

h1 {
    margin-bottom: $space;
    font-weight: 300;
}

h2 {
    margin-bottom: $space;
    font-size: $large-font-size;
}

a {
    color: rgb(0, 0, 0);
}

input[type=text],
input[type=email],
input[type=password] {
    margin-bottom: $space;
    padding: $input-spacing;
    font-size: $base-font-size;
    border: 1px solid $input-border;
}

p {
    margin-bottom: $space;
}


/*** Styles end... */