/******************************************
*  Author : Jake   
*  Created On : Fri Oct 26 2018
*  File : _buttons.scss
*******************************************/


.button {
    margin-bottom: $space;
    padding: $input-spacing;
    cursor: pointer;
    color: $button-colour;
    font-size: $base-font-size;
    line-height: 1.2;
    text-transform: uppercase;
    border: none;
    background-color: $button-bg;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--link-underline {
    margin-bottom: 0;
    display: inline-block;
    color: $header-colour;
    text-decoration: underline;
    text-transform: capitalize; 
    background-color: transparent;
}

.button--pill {
    margin: 0 ($space / 2) 0 0;
    color: $button-pill-colour;
    border: 1px solid $button-pill-colour;
    background-color: transparent;
}

.button--secondary {
    color: $button-secondary-colour;
    border: 1px solid $button-secondary-border-colour;
    background-color: $button-secondary-bg;
}



/*** Styles end... */