/******************************************
*  Author : Jake   
*  Created On : Mon Oct 29 2018
*  File : _checkbox.scss
*******************************************/



.checkbox {
    margin: $space 0;
    display: block;
}

.checkbox__box {
    margin-right: $space / 2;
}


/*** Styles end... */