/******************************************
*  Author : Jake   
*  Created On : Mon Oct 29 2018
*  File : _page-content.scss
*******************************************/


.page-content-wrapper {
    margin: 0 auto;
    padding: $space;
    max-width: $site-max-width;
}



/*** Styles end... */